@font-face {
    font-family: 'Block 2';
    src: url("../fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'Castle';
    src: url("../fonts/CastleBold.ttf") format("truetype");
}